#logo{
    height:50px;
    display:inline-block;
    height:20px;
}

body{
    background-color: black;
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Eurostile',sans-serif !important;
    font-weight: 400;
    color:white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Eurostile',sans-serif !important;
  font-weight: 400;
}

.navbar {
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  z-index:1000;
  width:100%;
  height:50px;
  top:0;
}
main{
  margin-top:50px;
}
.navbar a:hover{
  color:white;
  transition:0.3s;
}
.navbar a {
  color: grey;
  margin-left: 20px;
  text-decoration: none;
}
.navbar h2{
  cursor:pointer;
  letter-spacing: 2px;
}
.hero {
    position: relative;
    width: 100%;
    height: auto; 
    aspect-ratio: 16 / 9; 
    max-height: 80vh;
    overflow: hidden;
}
.slide.active{
    opacity:1;
}
.slide{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    object-fit: contain;
    opacity:0;
    transition:opacity 1s ease-in-out;
    background-color: black;
}
.products {
    color:black;
  padding: 40px;
}

.product-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background: white;
  width: 220px;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}
.product-card img:hover{
  transition:1s;
  transform: scale(1.5);
}
.product-card img {
  width: 100%;
}

.product-card button {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  border-radius:0 10px;
}

.wishlist {
  background: rgb(30, 106, 187);
  color:orange;
  border: none;
}

.coupon {
  padding: 40px;
  text-align: center;
  
}

.coupon input {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

.checkout {
  text-align: center;
  padding: 40px;
}

.checkout button {
  padding: 12px 30px;
  font-size: 16px;
}

.inputbutton{
  padding:10px;
  border-radius: 10px;
}
.inputbutton:hover{
  cursor: pointer;
}

.product-container {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
}

.product-card {
  flex: 0 0 auto; 
  background: white;
  width: 250px;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

.product-container::-webkit-scrollbar {
  height: 8px;
}
.product-container::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}
.product-container::-webkit-scrollbar-track {
  background: #222;
}

