#logo{
    height:50px;
    display:inline-block;
    height:20px;
}

body{
    background-color: black;
    margin:0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: grey;
  margin-left: 20px;
  text-decoration: none;
}

.hero{
    position:relative;
    width:100%;
    height:600px;
    overflow:hidden;
}
.slide.active{
    opacity:1;
}
.slide{
    position:absolute;
    width:100%;
    object-fit: cover;
    opacity:0;
    transition:opacity 1s ease-in-out;
}
.products {
    color:black;
  padding: 40px;
}

.product-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background: white;
  width: 220px;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

.product-card img {
  width: 100%;
}

.product-card button {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

.wishlist {
  background: rgb(30, 106, 187);
  color:orange;
  border: none;
}

.coupon {
  padding: 40px;
  text-align: center;
}

.coupon input {
  padding: 10px;
  width: 200px;
}

.checkout {
  text-align: center;
  padding: 40px;
}

.checkout button {
  padding: 12px 30px;
  font-size: 16px;
}
